<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
       <div>
        <label for="">
            Id:
            <input type="text" v-model="id">
        </label>
        <label for="">
            Name:
            <input type="text" v-model="name">
        </label>
         <input type="button" value="添加" @click="add">
       </div>

         <p v-for="item in list" :key="item.id">
             <input type="checkbox">{{item.id}} ---{{item.name}}
         </p>
    </div>
    <script>
       var vm = new Vue({
           el:"#app",
           data:{
               id:"",
               name:"",
              list:[
                  {id:1,name:"ww"},
                  {id:2,name:"wy"},
                  {id:3,name:"wy"},
                  {id:4,name:"wy"},
                  {id:5,name:"wy"},
             ]
           },
           methods:{
            add(){
               this.list.unshift({id:this.id,name:this.name})
            }
           }
       })
    </script>
</body>
</html>